### Python Sets:

A set in Python is an unordered collection of unique elements. It is defined by enclosing a comma-separated sequence of elements inside curly braces `{}`. Sets are mutable, which means you can add or remove elements, but the elements themselves must be immutable.

## Characteristics
- **Unordered**: The items in a set do not have a defined order.
- **Unindexed**: We cannot access items using indexes as we do in lists.
- **Immutable**: Once a set is created, we cannot change its items but we can add or remove items.
- **No Duplicates**: Every item in a set is a unique value.
- **Heterogeneous**: Python sets can store a mixture of string, integer, boolean, etc. data types.

#### 1. **Creating a Set:**

Sets can be created by using the built-in `set()` function with an iterable object or a sequence. They can also be created by placing the sequence inside curly braces, separated by a comma.

In [ ]:
""" Creating an empty set """

empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [ ]:
""" Creating a set with elements """

fruits = {'apple', 'banana', 'orange'}
print(fruits)
print(type(fruits))

{'orange', 'banana', 'apple'}
<class 'set'>

## Operations
- **Addition**: Elements can be added to the Set by using the built-in `add()` functionÂ¹.
- **Deletion**: Items can be removed from the set using methods like `remove()` and `discard()`.
- **Union, Intersection, Difference**: These operations can be performed between two sets using methods like `union()`, `intersection()`, and `difference()`.

In [ ]:
""" Adding Elements to a set """

fruits = {'apple', 'banana', 'orange'}

fruits.add('grape')
print(fruits)

fruits.update({'water melon', 'mango'})
print(fruits)

{'orange', 'banana', 'apple', 'grape'}
{'grape', 'water melon', 'mango', 'orange', 'banana', 'apple'}

In [ ]:
""" Removing Elements from a set """

fruits = {'apple', 'banana', 'orange'}

fruits.remove('banana')
print(fruits)

fruits.discard('apple')
print(fruits)

{'orange', 'apple'}
{'orange'}

In [ ]:
""" Union, Intersection, Difference """

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union of two sets
union_set = set1.union(set2)

# Intersection of two sets
intersection_set = set1.intersection(set2)

# Difference of two sets
difference_set = set1.difference(set2)

# Symmetric difference of two sets
symmetric_difference_set = set1.symmetric_difference(set2)

print("-- union_set --",union_set)
print("-- intersection_set --",intersection_set)
print("-- difference_set --",difference_set)
print("-- symmetric_difference_set --",symmetric_difference_set)

-- union_set -- {1, 2, 3, 4, 5, 6}
-- intersection_set -- {3, 4}
-- difference_set -- {1, 2}
-- symmetric_difference_set -- {1, 2, 5, 6}

#### 4. **Set Methods:**

In [ ]:
"""  Clearing all elements from a set """

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [ ]:
""" Copying a set """

numbers = {1, 2, 3, 4, 5}
copy_of_numbers = numbers.copy()
print(copy_of_numbers)

{1, 2, 3, 4, 5}

In [ ]:
""" Checking if a set is a subset or superset of another """

numbers = {1, 2, 3, 4, 5}
is_subset = {1, 2}.issubset(numbers)
is_superset = numbers.issuperset({1, 2})
print(is_subset)
print(is_superset)

True
True

In [ ]:
""" Pop an arbitrary element from the set """

numbers = {1, 2, 3, 4, 5}
popped_element = numbers.pop()
print(popped_element)

# The element that gets removed and returned by pop() is unpredictable.
# If you need to remove a specific element, consider using the remove() or discard() method instead.
# If the set is empty, pop() will raise a KeyError.

1

#### 5. **Frozen Sets:**

A frozen set is an immutable version of a set, and it can be used as a key in a dictionary.

In [ ]:
""" frozen set """

frozen_set = frozenset([1, 2, 3])
print(frozen_set)

frozenset({1, 2, 3})




#### 6. **Set Comprehension:**

Set comprehension is a method for creating sets in Python using the elements from other iterables like lists, sets, or tuples1. Itâs similar to list comprehension, but itâs used to create a new set and add elements to it.

In [ ]:
"""  set comprehensions """
squared_numbers = {x**2 for x in range(5)}
print(squared_numbers)

{0, 1, 4, 9, 16}

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
multiples_of_three = {element*3 for element in list1}
print(multiples_of_three)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30}