1. Square Pattern:

In [1]:
def print_square_pattern(n):
    for i in range(n):
        for j in range(n):
            print("* ", end="")
        print()

print_square_pattern(5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

2. Right Triangle Pattern:

In [2]:
def print_right_triangle(n):
    for i in range(1, n + 1):
        for j in range(i):
            print("* ", end="")
        print()

print_right_triangle(5)

*
* *
* * *
* * * *
* * * * *

3. Inverted Right Triangle Pattern:

In [3]:
def print_inverted_right_triangle(n):
    for i in range(n, 0, -1):
        for j in range(i):
            print("* ", end="")
        print()

print_inverted_right_triangle(5)

* * * * *
* * * *
* * *
* *
*

4. Pyramid Pattern:

In [4]:
def print_pyramid(n):
    for i in range(1, n + 1):
        print(" " * (n - i) + "* " * i)

# Example usage
print_pyramid(5)

    *
   * *
  * * *
 * * * *
* * * * *

5. Hollow Square Pattern:

In [5]:
def print_hollow_square(n):
    for i in range(n):
        for j in range(n):
            if i == 0 or i == n - 1 or j == 0 or j == n - 1:
                print("* ", end="")
            else:
                print("  ", end="")
        print()

print_hollow_square(5)

* * * * *
*       *
*       *
*       *
* * * * *

6. Hollow Right Triangle Pattern:

In [6]:
def print_hollow_right_triangle(n):
    for i in range(n):
        for j in range(i + 1):
            if j == 0 or i == j or i == n - 1:
                print("* ", end="")
            else:
                print("  ", end="")
        print()

print_hollow_right_triangle(5)

*
* *
*   *
*     *
* * * * *


7. Left Triangle Pattern:

In [7]:
def print_left_triangle(n):
    for i in range(1, n + 1):
        print(" " * (n - i) + "* " * i)

print_left_triangle(5)

    *
   * *
  * * *
 * * * *
* * * * *

8. Inverted Left Triangle Pattern:

In [8]:
def print_inverted_left_triangle(n):
    for i in range(n, 0, -1):
        print(" " * (n - i) + "* " * i)

print_inverted_left_triangle(5)

* * * * *
 * * * *
  * * *
   * *
    *

9. Hollow Pyramid Pattern:

In [9]:
def print_hollow_pyramid(n):
    for i in range(n):
        for j in range(2 * n - 1):
            if i + j == n - 1 or j - i == n - 1 or i == n - 1:
                print("*", end="")
            else:
                print(" ", end="")
        print()

print_hollow_pyramid(5)

    *
   * *
  *   *
 *     *
*********

10. Diamond Pattern:

In [ ]:
def print_diamond(n):
    for i in range(n):
        print(" " * (n - i - 1) + "* " * (i + 1))
    for i in range(n - 1):
        print(" " * (i + 1) + "* " * (n - i - 1))

print_diamond(5)

11. Hollow Diamond Pattern:

In [10]:
def print_hollow_diamond(n):
    for i in range(n):
        for j in range(n - i - 1):
            print(" ", end="")
        for j in range(2 * i + 1):
            if j == 0 or j == 2 * i:
                print("*", end="")
            else:
                print(" ", end="")
        print()
    for i in range(n - 1):
        for j in range(i + 1):
            print(" ", end="")
        for j in range(2 * (n - i - 1) - 1):
            if j == 0 or j == 2 * (n - i - 1) - 2:
                print("*", end="")
            else:
                print(" ", end="")
        print()

print_hollow_diamond(5)

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

12. Number Pyramid Pattern:

In [11]:
def print_number_pyramid(n):
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print(j, end=" ")
        print()

print_number_pyramid(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

13. Pascal's Triangle Pattern:

In [12]:
def print_pascals_triangle(n):
    for i in range(n):
        coef = 1
        for j in range(1, n - i + 1):
            print(" ", end="")
        for k in range(i + 1):
            print(coef, end=" ")
            coef = coef * (i - k) // (k + 1)
        print()

print_pascals_triangle(5)

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

14. Zigzag Pattern:

In [13]:
def print_zigzag_pattern(rows, cols):
    for i in range(rows):
        for j in range(cols):
            if i % 2 == 0:
                print("* ", end="")
            else:
                print(" *", end="")
        print()

print_zigzag_pattern(5, 5)

* * * * *
 * * * * *
* * * * *
 * * * * *
* * * * *

15. Butterfly Pattern:

In [14]:
def print_butterfly_pattern(n):
    for i in range(n):
        for j in range(n):
            if j <= i or j >= n - i - 1:
                print("* ", end="")
            else:
                print("  ", end="")
        print()

print_butterfly_pattern(5)

*       *
* *   * *
* * * * *
* * * * *
* * * * *

16. Hourglass Pattern:

In [15]:
def print_hourglass_pattern(n):
    for i in range(n):
        for j in range(i):
            print(" ", end="")
        for j in range(2 * (n - i) - 1):
            print("*", end="")
        print()
    for i in range(n - 2, -1, -1):
        for j in range(i):
            print(" ", end="")
        for j in range(2 * (n - i) - 1):
            print("*", end="")
        print()

print_hourglass_pattern(5)

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

17. Binary Triangle Pattern:

In [16]:
def print_binary_triangle(n):
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print(bin(j).replace("0b", ""), end=" ")
        print()

print_binary_triangle(5)

1
1 10
1 10 11
1 10 11 100
1 10 11 100 101

18. Cross Pattern:

In [17]:
def print_cross_pattern(n):
    for i in range(n):
        for j in range(n):
            if i == n // 2 or j == n // 2:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()


print_cross_pattern(5)

    *
    *
* * * * *
    *
    *

19. Diamond with Name Pattern:

In [18]:
def print_diamond_with_name(n):
    for i in range(n - 1):
        print(" "

 * (n - i - 1) + "* " * (i + 1))
    print("MyName")
    for i in range(n - 1):
        print(" " * (i + 1) + "* " * (n - i - 1))

print_diamond_with_name(5)

    *
   * *
  * * *
 * * * *
MyName
 * * * *
  * * *
   * *
    *

20. Rhombus Pattern:

In [19]:
def print_rhombus_pattern(n):
    for i in range(n):
        print(" " * (n - i - 1) + "* " * (i + 1))
    for i in range(n - 2, -1, -1):
        print(" " * (n - i - 1) + "* " * (i + 1))

print_rhombus_pattern(5)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

21. Hollow Rhombus Pattern:

In [21]:
def print_hollow_rhombus_pattern(n):
    for i in range(n):
        for j in range(n - i - 1):
            print(" ", end="")
        for j in range(i + 1):
            if j == 0 or j == i or i == n - 1:
                print("*", end="")
            else:
                print(" ", end="")
        print()
    for i in range(n - 2, -1, -1):
        for j in range(n - i - 1):
            print(" ", end="")
        for j in range(i + 1):
            if j == 0 or j == i or i == n - 1:
                print("*", end="")
            else:
                print(" ", end="")
        print()

print_hollow_rhombus_pattern(5)

    *
   **
  * *
 *  *
*****
 *  *
  * *
   **
    *

22. Triangle of Stars and Numbers Pattern:

In [23]:
def print_triangle_of_stars_and_numbers(n):
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print("*", end="")
        for j in range(1, i + 1):
            print(j, end="")
        print()

print_triangle_of_stars_and_numbers(5)

*1
**12
***123
****1234
*****12345

23. Spiral Number Pattern:

In [24]:
def print_spiral_number_pattern(n):
    num = 1
    for i in range(n):
        for j in range(i, n):
            print(num, end=" ")
            num += 1
        for j in range(i + 1, n):
            print(num, end=" ")
            num += 1
        print()

print_spiral_number_pattern(4)

1 2 3 4 5 6 7
8 9 10 11 12
13 14 15
16

24. Square with Diagonals Pattern:

In [25]:
def print_square_with_diagonals(n):
    for i in range(n):
        for j in range(n):
            if i == j or i == 0 or i == n - 1 or j == 0 or j == n - 1 or i + j == n - 1:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()

print_square_with_diagonals(5)

* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

25. Arrow Pattern:

In [26]:
def print_arrow_pattern(n):
    for i in range(n):
        for j in range(i + 1):
            print("*", end=" ")
        print()
    for i in range(n - 1):
        for j in range(n - i - 1):
            print("*", end=" ")
        print()

print_arrow_pattern(5)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*