LIST


   Lists are ordered collections of items. Each item can be of any data type. You can create a list using square brackets `[]` and separate elements with commas.

In [1]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

**List Operations:**
   You can add and remove elements from a list, combine lists, sort them, and find their length.

In [4]:
""" creating a list """
numbers = [1, 2, 3]
print(numbers)
print(type(numbers))

[1, 2, 3]
<class 'list'>

In [1]:
"""Accessing List Elements """

my_list = [1, 2, 3, 4, 5]
print(my_list[0])  # Output: 1
print(my_list[2])  # Output: 3

1
3

In [5]:
""" Add an element to the end """

numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [6]:
""" Remove an element """

numbers.remove(2)
print(numbers)

[1, 3, 4]

In [7]:
""" combining two lists """

combined = numbers + [5, 6]
print(combined)

[1, 3, 4, 5, 6]

In [8]:
""" sorting list"""

sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 3, 4]

In [9]:
""" length of list """

length = len(numbers)
print(length)

3

**List Comprehensions:**
   List comprehensions provide a concise way to create lists based on existing lists.

In [11]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [12]:
even_squares = [x**2 for x in range(1, 6) if x % 2 == 0]  # [4, 16]
print(even_squares)

[4, 16]

**Iterating Through Lists:**
   You can use loops to iterate through list elements.

In [13]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
for fruit in fruits:
    print(fruit)

['apple', 'banana', 'cherry']
apple
banana
cherry

**Common List Methods**

In [14]:
"""removing """

fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [15]:
""" Appending """

fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [16]:
""" inserting """

fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "grape")
print(fruits)

['apple', 'grape', 'banana', 'cherry']

In [17]:
""" index """

fruits = ["apple", "banana", "cherry"]
index = fruits.index("cherry")
print(index)

2

 **List Slicing:**
   Slicing lets you access a portion of a list.

In [18]:
fruits = ["apple", "banana", "cherry"]
sub_list = fruits[1:3]   # ["banana", "cherry"]
print(sub_list)
sub_list = fruits[:2]    # ["apple", "banana"]
print(sub_list)
sub_list = fruits[2:]    # ["cherry", "orange"]
print(sub_list)

['banana', 'cherry']
['apple', 'banana']
['cherry']

**List Manipulation Techniques:**
   Basic operations like swapping elements, reversing, and finding max/min/sum.

In [19]:
a, b = 10, 20
print(a, b)
a, b = b, a  # Swap values
print(a, b)

10 20
20 10

In [20]:
""" Reverses the list in-place """

numbers = [1, 2, 3]
numbers.reverse()
print(numbers)

[3, 2, 1]

In [21]:
numbers = [1, 2, 3]
maximum = max(numbers)
print("--maximum:  ",maximum)
minimum = min(numbers)
print("--minimum:  ",minimum)
total = sum(numbers)
print("--total:  ",total)

--maximum:   3
--minimum:   1
--total:   6

**Nested Lists:**
Lists can contain other lists.

In [22]:
""" Accessing a specific element (6)"""

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
element = matrix[1][2]  # Accessing a specific element (6)

In [24]:
""" Matrix Creation and Transposition: """

matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

for row in matrix:
    print(row)

transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
for row in transposed:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [23]:
"""Matrix Addition: """

matrix1 = [[1, 2, 3],
           [4, 5, 6],
           [7, 8, 9]]

matrix2 = [[9, 8, 7],
           [6, 5, 4],
           [3, 2, 1]]

result = [[matrix1[i][j] + matrix2[i][j] for j in range(len(matrix1[0]))] for i in range(len(matrix1))]

for row in result:
    print(row)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

**Negative indexing**

negative indexing allows you to access elements from the end of a sequence (such as a list or string). The index -1 refers to the last element, -2 refers to the second-to-last element, and so on

In [26]:
my_list = [1, 2, 3, 4, 5]

last_element = my_list[-1]
print("Last element:", last_element)

second_to_last_element = my_list[-2]
print("Second-to-last element:", second_to_last_element)

Last element: 5
Second-to-last element: 4

**List vs. Set vs. Tuple:**
Lists are mutable (can be changed), sets are unordered and unique, tuples are immutable

In [ ]:
my_list = [1, 2, 3]
my_set = {1, 2, 3}
my_tuple = (1, 2, 3)