DATA TYPES

mainly 7 data types

1. **String Type**:
   str is the built-in data type for strings in Python. Strings are sequences of characters that can be enclosed in single or double quotes. For example, `name = "Python", message = 'Hello, World!'`
2. **Numeric Types**:
    - `int`: Represents integer values like 1, 2, 3. For example, `age = 25`.
    - `float`: Represents real numbers and are written with a decimal point dividing the integer and fractional parts. For example, `temperature = 98.6`.
    - `complex`: Represents complex numbers, a number with a real and imaginary component represented as `x+yj`. For example, `z = 4+5j`.

3. **Sequence Types**:
    - `list`: Represents a mutable sequence of values. The values can be of any type. For example, `fruits = ["apple", "banana", "cherry"]`.
    - `tuple`: Similar to a list but immutable. This means that you cannot change the elements of a tuple once it is assigned. For example, `coordinates = (3, 5)`.
    - `range`: Represents a sequence of numbers and is commonly used for looping a specific number of times in for loops. For example, `c = range(6)`.

4. **Mapping Type**:
    - `dict`: Represents an unordered collection of data in a key:value pair form. For example, `d = {'name': 'John', 'age': 26}`.

5. **Set Types**:
    - `set`: Represents an unordered collection of unique items. For example, `e = {1, 2, 3, 4}`.
    - `frozenset`: Similar to a set but they are immutable. For example, `f = frozenset((1, 2, 3, 4))`.

6. **Boolean Type**:
    - `bool`: Represents the truth values which are `True` and `False`. For example, `is_student = True, is_employee = False`.

7. **None Type**:
    - `NoneType`: This type has a single value. For example, `result = None`.

8. **Binary Types**:
    - `bytes`: Represents a sequence of bytes. For example, `h = b"Hello"`.
    - `bytearray`: Represents a mutable sequence of bytes. For example, `i = bytearray(5)`.
    - `memoryview`: Represents a memory view of the given argument. For example, `j = memoryview(bytes(5))`.

In [ ]:
""" The type() function in Python is a built-in function that returns the data type of the object passed to it."""
str1 = "cat"
print(type(str1))

num1 = 3
print(type(num1))

<class 'str'>
<class 'int'>

In [ ]:
num1 = float(input("Enter the first decimal number: "))
num2 = float(input("Enter the second decimal number: "))
sum_decimal = num1 + num2
sum_integer = int(sum_decimal)
print("Sum as an integer:", sum_integer)

Enter the first decimal number: 4
Enter the second decimal number: 5
Sum as an integer: 9

**Dynamically typed**:

The data type of a variable is determined at runtime based on the value assigned to it. This is known as implicit data typing.

In [ ]:
x = 5       # x is an integer
print(type(x))
# Explicitly cast x to a float
x = float(x)
print(type(x))

<class 'int'>
<class 'float'>

In [ ]:
""" Using range to generate a sequence of numbers"""
for num in range(5):
    print(num)

0
1
2
3
4

In [ ]:
""" Comparing the tuples for equality"""
tuple1 = (1,2)
tuple2 = (3,4)
are_equal = tuple1 == tuple2
print(are_equal)

tuple3 = (3,5)
tuple4 = (3,4)
if tuple3 == tuple4:
    print("equal")
else:
    print("not equal")

False
not equal

In [ ]:
tuple3 = (3,4)
tuple4 = (4,3)
if tuple3 == tuple4:
    print("equal")
else:
    print("not equal")

not equal