### Python Tuples:

A tuple is a versatile and immutable data structure that allows you to store a collection of elements. Tuples are similar to lists, but the key difference lies in their immutability; once a tuple is created, its elements cannot be modified. This characteristic makes tuples suitable for situations where you want to ensure data integrity or create a constant collection of values.

## Characteristics of Tuples
- Tuples are ordered and allow duplicate values
- One cannot add items to a tuple once it is created.
- Tuples cannot be appended or extended.
- We cannot remove items from a tuple once it is created.



## Accessing Elements:

### 2. Indexing and Slicing:
```python
# Accessing elements using indexing
first_fruit = fruits_tuple[0]  # 'apple'

# Slicing a tuple
subset_tuple = mixed_tuple[1:3]  # ('hello', 3.14)
```

## Immutability:

### 3. Immutable Nature:
```python
# Attempting to modify a tuple will result in an error
fruits_tuple[0] = 'orange'  # TypeError: 'tuple' object does not support item assignment
```

## Tuple Operations:

### 4. Concatenation and Repetition:
```python
# Concatenating tuples
combined_tuple = fruits_tuple + mixed_tuple  # ('apple', 'banana', 'cherry', 1, 'hello', 3.14, True)

# Repetition
repeated_tuple = fruits_tuple * 2  # ('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
```

## Tuple Methods:

### 5. Built-in Tuple Methods:
```python
# Count occurrences of a value
count_banana = combined_tuple.count('banana')  # 1

# Find index of a value
index_hello = combined_tuple.index('hello')  # 4
```

## Use Cases:

### 6. Practical Examples:
```python
# Tuple unpacking
x, y, z = mixed_tuple
print(x)  # 1
print(y)  # 'hello'
print(z)  # 3.14

# Returning multiple values from a function
def get_coordinates():
    return (10, 20, 30)

x, y, z = get_coordinates()

# Iterating over a tuple
for item in fruits_tuple:
    print(item)

# Immutable dictionary keys
immutable_dict_key = {('name', 'age'): 'John'}
```

### 1. Tuple Creation:

There are various ways to create a tuple in Python¹:

1. **Using round brackets**: To create a tuple, we use `()` operators¹.

2. **With one item**: Python provides us with a way to create a Tuple with one item¹. In case you're generating a tuple with a single element, make sure to add a comma after the element¹.

3. **Tuple Constructor**: To create a tuple with a Tuple constructor, we pass the elements as its parameters.

In [ ]:
"""  Empty Tuple Creation: """

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
""" Creating tuples sing round brackets """

fruits_tuple = ('apple', 'banana', 'cherry')
print(fruits_tuple," fruits_tuple")

# Mixed data types
mixed_tuple = (1, 'hello', 3.14, True)
print(mixed_tuple," mixed_tuple")

# Tuple with a single element (comma is necessary)
single_element_tuple = (42,)
print(single_element_tuple," single_element_tuple")
print(type(single_element_tuple))

num1 = (42)
print(type(num1))  # Output: <class 'str'>

('apple', 'banana', 'cherry')  fruits_tuple
(1, 'hello', 3.14, True)  mixed_tuple
(42,)  single_element_tuple
<class 'tuple'>
<class 'int'>

## 2. Accessing Elements:
Tthe elements of a tuple can be accessed in two ways:
- **Using a positive index**: Using square brackets, we can get the values from tuples in Python¹.
```python
var = ("Geeks", "for", "Geeks")
print("Value in Var [0] = ", var[0])
print("Value in Var [1] = ", var[1])
print("Value in Var [2] = ", var[2])
```
- **Using a negative index**: Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item, and so on¹.

In [ ]:
"""  Accessing elements using positive indexing """

fruits_tuple = ('apple', 'banana', 'cherry')

first_fruit = fruits_tuple[0]  # 'apple'
print(first_fruit,"-- first_fruit --")

print("Value in fruits_tuple [0] = ", fruits_tuple[0])
print("Value in fruits_tuple [1] = ", fruits_tuple[1])
print("Value in fruits_tuple [2] = ", fruits_tuple[2])

apple -- first_fruit --
Value in fruits_tuple [0] =  apple
Value in fruits_tuple [1] =  banana
Value in fruits_tuple [2] =  cherry

In [ ]:
# Accessing elements using negative indexing
fruits_tuple = ('apple', 'banana', 'cherry')

# Using negative indexing
last_fruit = fruits_tuple[-1]  # 'cherry'
print(last_fruit, "-- last_fruit --")

# Accessing elements using negative indexing
print("Value in fruits_tuple [-1] = ", fruits_tuple[-1])
print("Value in fruits_tuple [-2] = ", fruits_tuple[-2])
print("Value in fruits_tuple [-3] = ", fruits_tuple[-3])

cherry -- last_fruit --
Value in fruits_tuple [-1] =  cherry
Value in fruits_tuple [-2] =  banana
Value in fruits_tuple [-3] =  apple

Slicing a tuple

Slicing in Python starts at index 0. The stop index is not inclusive, which means the slice goes up to but does not include the stop index. If step is None, it defaults to 1. If step is -1, the slice is done backwards. If start or stop is negative, it means that indexing will start from the end of the sequence. If start, stop, or step are omitted, they default to None, which means the slice will include all items from the start or end of the sequence.

In [ ]:
""" Slicing a tuple """

fruits_tuple = ('apple', 'banana', 'cherry')

# Get the first element
print(fruits_tuple[0])  # Output: 'apple'

# Get the last element
print(fruits_tuple[-1])  # Output: 'cherry'

# Get the first two elements
print(fruits_tuple[0:2])  # Output: ('apple', 'banana')

# Get the elements from second position to end
print(fruits_tuple[1:])  # Output: ('banana', 'cherry')

# Reverse the tuple
print(fruits_tuple[::-1])  # Output: ('cherry', 'banana', 'apple')

apple
cherry
('apple', 'banana')
('banana', 'cherry')
('cherry', 'banana', 'apple')

### 3. Immutable Nature:

In [ ]:
""" Attempting to modify a tuple will result in an error  """

fruits_tuple = ('apple', 'banana', 'cherry')
fruits_tuple[0] = 'orange'  # TypeError: 'tuple' object does not support item assignment

### 4. Concatenation and Repetition:

In [ ]:
""" Concatenating tuples """

fruits_tuple = ('apple', 'banana', 'cherry')
mixed_tuple = (1, 'hello', True)
combined_tuple = fruits_tuple + mixed_tuple
print(combined_tuple,"--combined_tuple")

('apple', 'banana', 'cherry', 1, 'hello', True) --combined_tuple

In [ ]:
""" Repeating tuples """

repeated_tuple = fruits_tuple * 2
print(repeated_tuple,"--repeated_tuple")

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry') --repeated_tuple

### 5. Built-in Tuple Methods:

In [ ]:
"""  Count occurrences of a value """

count_banana = combined_tuple.count('banana')  # 1
print(count_banana,"--count_banana")

""" Find index of a value """

index_hello = combined_tuple.index('hello')  # 4
print(index_hello,"--index_hello")

1 --count_banana
4 --index_hello

In [ ]:
"""  Tuple unpacking """

fruits_tuple = ('apple', 'banana', 'cherry')
x, y, z = fruits_tuple
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
""" Iterating over a tuple """

for item in fruits_tuple:
    print(item)

apple
banana
cherry